{{!-- 
<div class="container">
  <div class="row mb-4">
    {{#each properties}}
    <div class="col-md-4">
      <div class="card mb-4 mt-4">
        <img src="{{this.images.[0]}}" class="card-img-top rounded" alt="Property Image" />
        <div class="card-body">
          <h5 class="card-title text-truncate" style="max-height: 3.6em; overflow: hidden;">{{this.title}}</h5>
          <p class="card-text text-truncate" style="max-height: 5.2em; overflow: hidden;">{{this.description}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div> --}}


<div class="container">
  <div class="row mb-4">
    {{#each properties}}
    
    <div class="col-md-4">
      <div class="card mb-4 mt-4">
        <a href="property/{{this._id}}">
        <img src="{{this.images.[0]}}" class="card-img-top rounded" alt="Property Image" />
        <div class="card-body">
          <h5 class="card-title text-truncate" style="max-height: 3.6em; overflow: hidden; font-size: 1.2rem;">{{this.title}}</h5>
          <p class="card-text text-truncate" style="max-height: 5.2em; overflow: hidden; font-size: 0.9rem;">{{this.description}}</p>
          <p class="card-text"><span style="font-weight: bold;">{{this.price}} € per night including VAT.</span></p>
        </a>
        </div>
      </div>
    </div>
    
    {{/each}}
  </div>
</div>
