{{! properties.hbs }}



<div class="row">
  <div class="col-12">
    <h5 class="text-start mt-4" style="max-height: 3.6em; overflow: hidden; font-size: 3.2rem;">{{property.title}}</h5>
    <h5 class="text-start" style="max-height: 3.6em; overflow: hidden; font-size: 1.2rem;">{{property.location}}</h5>
  </div>
</div>

<div class="row">
  <div class="col-6">
<!-- Gallery -->
<div class="container-lg">
  <div class="row">
    <div class="col-md-6">
      <div id="imageGallery" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-bs-target="#imageGallery" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#imageGallery" data-bs-slide-to="1"></li>
          <li data-bs-target="#imageGallery" data-bs-slide-to="2"></li>
        </ol>

        <!-- Images -->
        <div class="carousel-inner">

          <div class="carousel-item active">
            <img src="{{property.images.[0]}}" class="d-block w-200" alt="Image 1">
          </div>

          <div class="carousel-item">
            <img src="{{property.images.[1]}}" class="d-block w-200" alt="Image 2">
          </div>

          <div class="carousel-item">
            <img src="{{property.images.[2]}}" class="d-block w-200" alt="Image 3">
          </div>

          <div class="carousel-item">
            <img src="{{property.images.[3]}}" class="d-block w-200" alt="Image 3">
          </div>

          <div class="carousel-item">
            <img src="{{property.images.[4]}}" class="d-block w-200" alt="Image 3">
          </div>

          <div class="carousel-item">
            <img src="{{property.images.[5]}}" class="d-block w-200" alt="Image 3">
          </div>

        </div>

        <!-- Controls -->
        <a class="carousel-control-prev" href="#imageGallery" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </a>
        <a class="carousel-control-next" href="#imageGallery" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col-6">
<p>{{property.description}}</p>
</div>

 <!-- Include jQuery library -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Include Bootstrap JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>











