{{#if userInSession}}
  <h2>Welcome, {{userInSession.firstName}}!</h2>
  <p>This is your profile page my friend!</p>
  <button>
    <a href="/user">Reload the page</a>
  </button>
{{else}}

  <br /><p>Still no logged in user, sorry!</p>

{{/if}}

<div class="container mb-4 mt-4">
  <div class="card">
    <div class="card-body bg-light">
      <div class="container mb-4 mt-4">
  <div class="card">
    <div class="card-body bg-light">
WELCOME HOME TRAVELLER
</div></div></div>

<div class="row">

  <div class="col-8">
<div class="container mb-4 mt-4">
  <div class="card">
    <div class="card-body bg-light">
First Name: {{userInSession.firstName}}
Last Name: {{userInSession.lastName}}

Email registered: {{userInSession.email}}
PhoneNumber registered: {{userInSession.phoneNumber}}

</div></div></div>
  </div>

  <div class="col-4">
<div class="container mb-4 mt-4">
  <div class="card">
    <div class="card-body bg-light">
INFO 2
</div></div></div>
  </div>
</div>

 </div></div></div>

